flask
flask-wtf
flask_bootstrap
WTForms
opencv-python
loguru
norfair
scipy
pyyaml
easydict
gdown
pandas
tabulate
wheel
onnxruntime
Cython==3.0.9
typing_extensions
tensorboard
protobuf==3.20.*
coremltools
thop
IPython
segment-anything
pillow>=10.0.0
easyocr
lap
cython_bbox
motpy
torchreid
ultralytics==8.3.0

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu
torchvision==0.20.1+cpu